/** @format */
.Login {
  position: fixed;
  top: 40%;
  left: 50%;
  width: 30em;
  height: 18em;
  margin-top: -9em; /*set to a negative number 1/2 of your height*/
  margin-left: -15em;
}
.formcomp {
  text-align: left;
}

.centered {
  text-align: center;
}
